*, *::before, *::after { box-sizing: border-box; }

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Overpass", serif;
  font-size: 17px;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Overpass", serif;
  font-weight: 700;
}

a {
  color: white;
  text-decoration-style: dotted;
/*  border-bottom: 1px solid white;*/
}

a:hover {
  opacity: 0.9;
}

/*====HEADER====*/

.header {
  background-color: #0dabff;
padding-top: 0.25em;
padding-bottom: 0.25em;
  font-size: 1.3em;
}

.header-logo {
  text-align: center;
}

.header-logo img {
/*  display: inline;*/
  vertical-align: middle;
}

.header-logo h1 {
  display: inline;
}

.header-text {
 vertical-align: middle;
}

/*====NAVBAR====*/

.navbar {
/*  background-color: aqua;*/
  text-align: center;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-shadow: rgba(0, 0, 0, 0.31) 0 0 .5em;
}

.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar li {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
